[Unit]
Description=Dev swh environment
Requires=dev-celery-vault.service dev-listener.service dev-runner.service dev-storage.service dev-swh.target dev-vault.service dev-webapp.service
