[Unit]
Description=Dev celery vault
PartOf=dev-swh.target

[Service]
Environment=SWH_WORKER_INSTANCE=vault
ExecStart=%h/swh-environment/.venv/bin/python3 -m celery worker --app swh.scheduler.celery_backend.config.app --pool=prefork --concurrency=1 -Ofair --loglevel=debug --without-mingle --without-gossip

[Install]
WantedBy=dev-swh.target
