[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pdbpp = "*"
ipython = "*"

[packages]
azure-storage-blob = "*"
click = "*"
pyyaml = "*"
python-dateutil = "*"
